body {
  margin: 0;
  font-family: "Century Schoolbook", Georgia, "Times New Roman", Times, serif;
  font-size: var(--font-body);
  color: var(--main-text-colour);
  text-underline-offset: calc(var(--spacing-unit) * var(--xxx-small));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-3) 0 calc(var(--spacing-3) * 0.8) 0;
  font-family: var(--main-title-font);
}
p {
  font-size: var(--font-title-small);
  padding-bottom: var(--spacing-2);
  margin: 0;
}
nav {
  font-family: var(--main-title-font);
}

h1 {
  font-size: var(--font-title-large);
  margin: 0;
  padding: var(--spacing-5) 0 var(--spacing-5) 0;
  font-style: italic;
  line-height: var(--spacing-5);
}

h2 {
  font-size: var(--font-title-medium);
  padding: var(--spacing-1) 0 var(--spacing-3) 0;
}

h3 {
  font-size: var(--font-title-medium);
  padding: var(--spacing-3) 0 calc(var(--spacing-3) * var(--small)) 0;
}

h4 {
  font-size: var(--font-title-small);
  padding: var(--spacing-1) 0 var(--spacing-1) 0;
}

h5 {
  font-size: var(--font-title-small);
  padding: var(--spacing-1) 0 calc(var(--spacing-1) * var(--small)) 0;
}

a {
  color: var(--main-highlight);
}

figure {
  margin: 0;
  padding: var(--spacing-10);
}
figcaption {
  margin: 0;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

figcaption {
  text-align: left;
  font-style: italic;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  font-size: var(--font-body);
  text-indent: -0.3rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  background-color: var(--current-background-colour);
  border: none;
}

.list-text {
  font-size: var(--font-title-small) !important;
}
