@font-face {
    font-family: "GT America";
    src: url(https://www.richjames.co.uk/fonts/gt-america-standard-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "Caslon";
    src: url(https://www.richjames.co.uk/fonts/ACaslonPro-Italic.otf) format("truetype");
}

body {
    font-family: "GT America", sans-serif;
}

h1 {
    font-size: 45px;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    margin: 0 0 0 0;
    line-height: 1.7;
    justify-content: start;
}